%row_flexbox{
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    flex-direction: column;
}
.item-0{
    @extend %row_flexbox;
    justify-content: flex-end;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

.item-0 > div{
    padding-right: 10px;
}

.item-0 a{
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.item-0 a:hover{
    text-decoration: underline;
}

.item-1, .item-2{
    @extend %row_flexbox;
    justify-content: center;
}
.item-1{
    margin-top: 50px;
    margin-bottom: 30px;
}


.logo{
    max-height: 92px;
}

.searchBar{
    width: 572px;
    margin: auto;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

input[type=text]{
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(145, 132, 132);
    height: 30px;
    padding-left: 15px;
}

.buttonGroup{
    @extend %row_flexbox;
    justify-content: center;
    padding-top: 18px;
    gap: 10px;
}


.buttonGroup >.btn-light:hover{
    background-color: white;
    border: 1px solid rgb(146, 130, 130);
    border-radius: 4px;
}

// Advanced Search
.pages_links{
    @extend .item-0;
}

.input_container{
    display: flex;
    flex-direction: column;
}

.input_container > div{
    @extend %row_flexbox;
    padding : 10px;
    width: 50%;
    
}

.input_container > div > div{
    height: 30px;
    font-size: small;
    width: 16%;
    padding-right: 10px;
    word-wrap: break-word;
}

