{% extends "accounts/layout.html" %} {% load static %} {% load custom_filters %}

{% block cssfiles %}
    <link href="{% static 'auctions/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock cssfiles %}

{% block content %}
    <h2>Closed Listings</h2>

    <div class="row">
        {% for auction in auctions %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                
                <a href="{% url 'listing' num_id=auction.id %}">
                    <img class="card-img-top" src="{{ auction.image.url }}" alt="" width="330" height="190">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'listing' num_id=auction.id %}">{{ auction.title }}</a>
                        {% if auction.status == 'active' %}
                        <span class="badge badge-success">Active</span>
                        {% else %}
                        <span class="badge badge-danger">Closed</span>
                        {% endif %}
                    </h4>
                    
                    <h5>Start price: ${{ auction.startBid }}</h5>
                    <h5>
                        Bid: 
                        {% if max_bids_dict|lookup:auction %}
                            {% with max_bid=max_bids_dict|lookup:auction %}
                                ${{ max_bid.price}}
                            {% endwith %}
                        {% else %}
                            <span class="font-italic">No bid yet</span>
                        {% endif %}
                    </h5>
                    <h5>
                        Winner: <a href="#"><b>
                            {% with max_bid=max_bids_dict|lookup:auction %}
                                {{ max_bid.createdBy}}
                            {% endwith %}
                        </b></a>
                    </h5>
                    <p class="card-text text-truncate" style="overflow:hidden;text-overflow:ellipsis;">
                        {{ auction.description }}
                    </p>
                </div>
                <div class="card-footer">
                    <div class="add-to-watchlist">
                        {% if auction not in watchlist.listings.all %}
                        <button type="submit" class="btn btn-secondary" 
                            onclick="location.href=`{% url 'watchlist' auction.id %}`" 
                            name="watchlist-btn" >
                            Add to watchlist
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-secondary" 
                            name="watchlist-btn" disabled>
                            Add to watchlist
                        </button>
                        {% endif %}
                    </div>
                    <small class="text-muted">
                        Created on {{ auction.createdOn }} by 
                        <a href="{% url 'profile_view' auction.createdBy.profile.slug %}"><b> {{ auction.createdBy.username }}</b></a>
                    </small>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock content %}