{% load static %}
<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="https://png.pngtree.com/png-clipart/20190629/original/pngtree-vector-auction-icon-png-image_4101301.jpg" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"> {% block cssfiles %}{% endblock cssfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'feed/style_view.css' %}">

    <title>I-BID</title>

</head>

<body>
    <div class="menu">
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
            <h2>Hello {{ user.username }} !!!</h2> {% endif %}


            <nav class="skew-menu">
                <ul>
                    <li>
                        <a class="navbar-brand " href="{% url 'home' %}"><b>I-BID</b></a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li><a class="nav-item nav-link btn btn-success ml-4 text-light" href="{% url 'login' %} ">Login</a>
                    </li>

                    <li><a class="nav-item nav-link btn btn-info ml-3 text-light" href="{% url 'register' %} ">Register</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="nav-item nav-link btn btn-danger ml-4  text-light" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li>{% block searchform %} {% endblock searchform %}
                    </li>

                    <li>{% block notification %} {% endblock notification %}
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <nav class="skew-menu">
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="nav-item nav-link " href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a class="nav-item nav-link " href="{% url 'users_list' %}">Add New Friends</a>
                    </li>

                    <li>
                        <a class="nav-item nav-link " href="{% url 'friend_list' %}">Friends</a>
                    </li>

                    <li>
                        <a class="nav-item nav-link " href="{% url 'my_profile' %}">Profile</a>
                    </li>

                    <li>
                        <a class="nav-item nav-link " href="{% url 'post-create' %}">Create Post</a>
                    </li>

                    <li>
                        <a class="nav-item nav-link " href="{% url 'watchlist' %}">Watchlist</a>
                    </li>

                    <li>
                        <a class="nav-item nav-link " href="{% url 'closed' %}">Closed Post</a>
                    </li>

                    <li>
                        <a class="nav-item nav-link " href="{% url 'win' %}">Winned Post</a>
                    </li>




                    {% endif %}



                </ul>

            </nav>
        </div>
    </div>
    <div class="content ">
        {% block content %}{% endblock content %}
    </div>

    <footer class="page-footer font-small black ">
        <div class="footer-copyright text-center py-3 ">I-Bid © 2020
            <br><small class="text-muted ">All rights reserved!</small>
        </div>
    </footer>

    <!-- JS Files -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var minValue = parseInt(document.getElementById('priceForBid').min) + 1
            document.getElementById('priceForBid').min = minValue

            const newbid = document.querySelector('#priceForBid');
            const submitPrice = document.querySelector('#submitPrice');
            submitPrice.disabled = true;
            newbid.onkeyup = () => {
                if (newbid.value.length > 0) {
                    submitPrice.disabled = false;
                } else {
                    submitPrice.disabled = true;
                }
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "></script>
    {% block jsfiles %}{% endblock jsfiles %}
</body>

</html>