<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>KAT</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/Users/zorozed/Projects/web/nhutsam261/project5/KAT/commerce/static/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="/Users/zorozed/Projects/web/nhutsam261/project5/KAT/commerce/static/js/jquery-3.5.1.min.js"></script>
    <script src="/Users/zorozed/Downloads/OwlCarousel/dist/owl.carousel.js"></script>
    <link rel="stylesheet" href="/Users/zorozed/Projects/web/nhutsam261/slider-bar/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/Users/zorozed/Projects/web/nhutsam261/slider-bar/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Users/zorozed/Projects/web/nhutsam261/project5/KAT/commerce/static/css/style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&amp;display=swap">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://mdbootstrap.com/previews/ecommerce-demo/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="https://mdbootstrap.com/previews/ecommerce-demo/css/mdb-pro.min.css">
    <!-- Material Design Bootstrap Ecommerce -->
    <link rel="stylesheet" href="https://mdbootstrap.com/previews/ecommerce-demo/css/mdb.ecommerce.min.css">
    <!-- Your custom styles (optional) -->
</head>

<body>
    <!-- video background -->
    <div class="video-area">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/Users/zorozed/Downloads/images/products/intro.mp4" type="video/mp4">
      </video>
    </div>
    <!-- end video background -->
    <div class='container-main'>
        <!-- header -->
        <div class="header-main">

            <div class="menu">
                <nav id="nav-menu">
                    <div class="logo"><img src="/Users/zorozed/Projects/web/nhutsam261/project5/KAT/commerce/static/imgs/katz.png">
                    </div>
                    <label for="btn" class="icon">
          <span class="fa fa-bars"></span>
        </label>
                    <input class="input-hidden" type="checkbox" id="btn">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>
                            <label for="btn-1" class="show">Mac +</label>
                            <a href="#">Mac <i class="arrow down"></i></a>
                            <input class="input-hidden" type="checkbox" id="btn-1">
                            <ul>
                                <li><a href="#">MacBook Air</a></li>
                                <li><a href="#">MacBook Pro 13"</a></li>
                                <li><a href="#">MacBook Pro 16"</a></li>
                                <li><a href="#">iMac & iMac Pro</a></li>
                                <li><a href="#">Mac mini & Mac Pro</a></li>
                                <li>
                                    <label for="btn-2" class="show">Mac Accessories +</label>
                                    <a href="#">Mac Accessories <i class="arrow right"></i></a>
                                    <input class="input-hidden" type="checkbox" id="btn-2">
                                    <ul>
                                        <li>
                                            <label for="btn-3" class="show">Chager & Cable +</label>
                                            <a href="#">Chager & Cable <i class="arrow right"></i></a>
                                            <input class="input-hidden" type="checkbox" id="btn-3">
                                            <ul>
                                                <li>
                                                    <a href="#">Chager</a>
                                                </li>
                                                <li>
                                                    <a href="#">Apple Chager</a>
                                                </li>
                                                <li>
                                                    <a href="#">Others Brand</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <label for="btn-4" class="show">iPad +</label>
                            <a href="#">iPad <i class="arrow down"></i></a>
                            <input class="input-hidden" type="checkbox" id="btn-4">
                            <ul>
                                <li>
                                    <label for="btn-5" class="show">iPad Pro 2020 +</label>
                                    <a href="#">iPad Pro 2020 <i class="arrow right"></i></a>
                                    <input class="input-hidden" type="checkbox" id="btn-5">
                                    <ul>
                                        <li>
                                            <a href="#">iPad Pro 11"</a>
                                        </li>
                                        <li>
                                            <a href="#">iPad Pro 12.9"</a>
                                        </li>
                                    </ul>
                                </li>

                                <li><a href="#">iPad 10.2" 2020</a></li>
                                <li><a href="#">iPad Mini</a></li>
                                <li>
                                    <label for="btn-6" class="show">iPad Accessories +</label>
                                    <a href="#">iPad Accessories <i class="arrow right"></i></a>
                                    <input class="input-hidden" type="checkbox" id="btn-6">
                                    <ul>
                                        <li>
                                            <label for="btn-7" class="show">Chager & Cable +</label>
                                            <a href="#">Chager & Cable <i class="arrow right"></i></a>
                                            <input class="input-hidden" type="checkbox" id="btn-7">
                                            <ul>
                                                <li>
                                                    <a href="#">Chager</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cable</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Keyboard</a>
                                        </li>
                                        <li>
                                            <a href="#">Pencil & Accessories</a>
                                        </li>
                                        <li>
                                            <a href="#">HeadPhones</a>
                                        </li>
                                        <li>
                                            <a href="#">Battery Backup</a>
                                        </li>
                                        <li>
                                            <a href="#">AppleCare</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <label for="btn-8" class="show">iPhone +</label>
                            <a href="#">iPhone <i class="arrow down"></i></a>
                            <input class="input-hidden" type="checkbox" id="btn-8">
                            <ul>
                                <li><a href="#">iPhone 12 Pro Max</a></li>
                                <li><a href="#">iPhone 12 Pro</a></li>
                                <li><a href="#">iPhone 12</a></li>
                                <li><a href="#">iPhone 12 Mini</a></li>

                                <li>
                                    <label for="btn-9" class="show">iPhone Accessories +</label>
                                    <a href="#">iPad Pro 2020 <i class="arrow right"></i></a>
                                    <input class="input-hidden" type="checkbox" id="btn-9">
                                    <ul>
                                        <li>
                                            <label for="btn-10" class="show">Chager & Cable +</label>
                                            <a href="#">Chager & Cable <i class="arrow right"></i></a>
                                            <input class="input-hidden" type="checkbox" id="btn-10">
                                            <ul>
                                                <li>
                                                    <a href="#">Chager</a>
                                                </li>
                                                <li>
                                                    <a href="#">Cable</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">HeadPhones</a>
                                        </li>
                                        <li>
                                            <a href="#">Battery Backup</a>
                                        </li>
                                    </ul>
                                </li>



                            </ul>
                        </li>

                        <li><a href="#">Sale*</a></li>
                        <li><a href="#">Apple Support</a></li>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
                        </form>

                    </ul>



                </nav>
            </div>
            <div class="container slogan">
                <p class="text">THINK DIFFERENT</p>
            </div>
        </div>
        <!-- end header -->
        <!-- start content -->
        <div class="content-main">


            <section id="home-new-arrivals">
                <h2 class="section-title text-center">
                    POPULAR PRODUCTS
                </h2>

                <div class="container">

                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="image-products">
                                <img src="/Users/zorozed/Downloads/images/products/macbook.bg-rm.png" onmouseover="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-2.rm.png'" onmouseout="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-rm.png'" border="0" alt=""
                                />
                            </div>
                            <div class="product-info text-center">
                                <a class="product-title a">HyperDrive HDMI/VGA 4K 2-in-1</a>
                                <br/>
                                <span class="product-price">
                                    <span class="current-price">799,000₫</span>
                                </span>
                            </div>
                        </div>

                        <!-- start -->


                        <!-- end -->

                        <div class="item">
                            <div class="image-products">
                                <img src="/Users/zorozed/Downloads/images/products/macbook.bg-rm.png" onmouseover="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-2.rm.png'" onmouseout="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-rm.png'" border="0" alt=""
                                />
                            </div>
                            <div class="product-info text-center">
                                <a class="product-title a">HyperDrive HDMI/VGA 4K 2-in-1</a>
                                <br/>
                                <span class="product-price">
                                    <span class="current-price">799,000₫</span>
                                </span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="image-products">
                                <img src="/Users/zorozed/Downloads/images/products/macbook.bg-rm.png" onmouseover="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-2.rm.png'" onmouseout="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-rm.png'" border="0" alt=""
                                />
                            </div>
                            <div class="product-info text-center">
                                <a class="product-title a">HyperDrive HDMI/VGA 4K 2-in-1</a>
                                <br/>
                                <span class="product-price">
                                    <span class="current-price">799,000₫</span>
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image-products">
                                <img src="/Users/zorozed/Downloads/images/products/macbook.bg-rm.png" onmouseover="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-2.rm.png'" onmouseout="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-rm.png'" border="0" alt=""
                                />
                            </div>
                            <div class="product-info text-center">
                                <a class="product-title a">HyperDrive HDMI/VGA 4K 2-in-1</a>
                                <br/>
                                <span class="product-price">
                                    <span class="current-price">799,000₫</span>
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image-products">
                                <img src="/Users/zorozed/Downloads/images/products/macbook.bg-rm.png" onmouseover="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-2.rm.png'" onmouseout="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-rm.png'" border="0" alt=""
                                />
                            </div>
                            <div class="product-info text-center">
                                <a class="product-title a">HyperDrive HDMI/VGA 4K 2-in-1</a>
                                <br/>
                                <span class="product-price">
                                    <span class="current-price">799,000₫</span>
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image-products">
                                <img src="/Users/zorozed/Downloads/images/products/macbook.bg-rm.png" onmouseover="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-2.rm.png'" onmouseout="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-rm.png'" border="0" alt=""
                                />
                            </div>
                            <div class="product-info text-center">
                                <a class="product-title a">HyperDrive HDMI/VGA 4K 2-in-1</a>
                                <br/>
                                <span class="product-price">
                                    <span class="current-price">799,000₫</span>
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image-products">
                                <img src="/Users/zorozed/Downloads/images/products/macbook.bg-rm.png" onmouseover="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-2.rm.png'" onmouseout="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-rm.png'" border="0" alt=""
                                />
                            </div>
                            <div class="product-info text-center">
                                <a class="product-title a">HyperDrive HDMI/VGA 4K 2-in-1</a>
                                <br/>
                                <span class="product-price">
                                    <span class="current-price">799,000₫</span>
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image-products">
                                <img src="/Users/zorozed/Downloads/images/products/macbook.bg-rm.png" onmouseover="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-2.rm.png'" onmouseout="this.src='/Users/zorozed/Downloads/images/products/macbook.bg-rm.png'" border="0" alt=""
                                />
                            </div>
                            <div class="product-info text-center">
                                <a class="product-title a">HyperDrive HDMI/VGA 4K 2-in-1</a>
                                <br/>
                                <span class="product-price">
                                    <span class="current-price">799,000₫</span>
                                </span>
                            </div>
                        </div>


                    </div>
                </div>

            </section>
        </div>


        <!-- start banner -->
        <section id="banner">
            <h2 class="section-title text-center">
                NEW REVOLUTION
            </h2>
            <div class="card-infor">
                <h2> MacBook Pro 16in with CHIP M1</h2>
            </div>
            <div class="container poster-wrapper">
                <div class="row">
                    <div class="col">
                        <div class="classWithPad">
                            <img class="img-poster center" src="/Users/zorozed/Downloads/images/products/apples.png">
                            <div class="text-infor">
                                <h2>All Products</h2>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="classWithPad">
                            <img class="img-poster center" src="/Users/zorozed/Downloads/images/products/fix.png">
                            <div class="text-infor">
                                <h2>Supports & Repair</h2>
                            </div>
                        </div>

                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <div class="classWithPad">
                            <img class="img-poster center" src="/Users/zorozed/Downloads/images/products/intro.png">
                            <div class="text-infor">
                                <h2>New iPad</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="classWithPad">
                            <img class="img-poster center" src="/Users/zorozed/Downloads/images/products/macbook-removebg.png">
                            <div class="text-infor">
                                <h2>New MacBook</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!-- end banner -->
        <!-- end content -->
    </div>
    <hr>
    <!-- start footer -->
    <div class="footer-main">
        <footer class="bg-secondary text-black text-lg-start">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase">CONTACT US</h5>

                        <ul>
                            <li><i class="fa fa-home"></i> Vnuhcm - University of Science
                            </li>

                            <li><i class="fa fa-phone"></i> +84123456789
                            </li>
                            <li>

                                <i class="fa fa-envelope"></i> primepake2070@gmail.com
                            </li>
                            <li><i class="fab fa-github"></i> <a href="https://github.com/nhutsam261" style="color: black;">nhutsam261</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">ABOUT US</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">HISTORY</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">MISSION - VISION</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">ACADEMIC AFFAIRS</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">ORGANIZATIONAL CHART</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0">SHOP NOW</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" class="text-white">MacBook Air</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Macbook Pro 13"</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">iPhone 12 Pro Max</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">iMac & iMac</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->

            <!-- Email for receiving notifications -->
            <div class="container p-4 pb-0">
                <form action="">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col">
                            <p><strong>Subscribe for our newsletter</strong>
                            </p>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col col-12 mb-4 mb-md-0">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" id="subscribe-email" class="form-control w-50" />
                                <label class="form-label" for="subscribe-email">Email address</label>
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-auto mb-4 mb-md-0">
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary mb-4">Subscribe</button>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </form>
            </div>

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2020 Copyright:
                <a class="text-white" href="#">KATZ.com</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>
    <!-- end footer -->
    <script src="/Users/zorozed/Downloads/OwlCarousel/dist/owl.carousel.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
<footer>
    <script>
        // Event listener for scrolling
        window.onscroll = () => {

            // Check if we're at the bottom
            var os = document.querySelector('.slogan').offsetTop;
            var submenu = document.querySelector('.menu')
            console.log('win');
            console.log(window.scrollY)

            if (window.scrollY >= os) {

                // Change color
                document.querySelector('.menu').style.background = '#e6e6e6';


            } else {

                // Change color to default
                document.querySelector('.menu').style.background = '';
            }

        };
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/Users/zorozed/Projects/web/nhutsam261/slider-bar/dist/owl.carousel.min.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            margin: 10,
            loop: true,
            autoWidth: true,
            items: 3,
            autoplay: true,
            autoplayTimeout: 1000,
            autoplayHoverPause: true,
        })
    </script>
</footer>